body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  height: 100vh; 
  margin: 0; 
}

    .container {
      display: flex;
      justify-content: center;
      margin: 20px;
    }

    .color-box {
      width: 100px;
      height: 100px;
      margin: 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
    }

    button {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 8px;
      background: white;
      font-weight:500;
    }
